*{
    margin: 0;
    padding: 0;
}

a{text-decoration: none;
    color: white;}
.body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto 200px;
    grid-gap:1rem;
    grid-template-areas: "head"  "main" "footer";
    }


.header {
        width: 720;
        background-color: green;
        
    }
.main {
        width: 720;
        background-color: red;

    }
.footer {
        width: 720;
        background-color: yellowgreen;
        
    }


    .anuncio {
        background-color: #161616;
        height: 100px;
        width: auto;
        font-size: 40px;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
            }
    .header__menu {
        margin-right: 30px;
        background-color: red;
        display: flexbox;
        align-items: center;
            }
    .header__menu ul {
            display: none;
            list-style: none;
            padding: 0px;
            position: absolute;
            width: 100px;
            text-align: right;
            margin: 0px 0px 0px -14px;  }
            
    .header__menu:hover ul, ul:hover {
            display: block;
        }
    .header__menu li {
    background-color: red;
            }
    .header__menu li a {
    color: white;
    text-decoration: none;
        }
    .header__menu li a:hover {
    text-decoration: underline;
    }
    .header__menu--profile {
        margin-right: 8px;
        display: flex;
    }

    .header__menu--profile img {
                margin-right: 8px;
                width: 40px;
            }

    .header__menu--profile p {
        margin-right: 0px;
        color: white;
            }    
    
    nav {
        font-size: 40px;
        background-color: #C81111;
        height: 100px;
        width: 710;
        position: sticky;
        top: 0;
        z-index: 5;
        }
    
        .slider-fame {
            overflow: hidden;
            height: 100px;
            width: 500px;
        
        }
        
        
        @-webkit-keyframes slide_animation{
            0% {left:0px;}
            10%{left:0px;}
            20%{left:1200px;}
            30%{left:1200px;}
            40%{left:2400px;}
            50%{left:2400px;}
            60%{left:1200px;}
            70%{left:1200px;}
            80%{left:0px;}
            90%{left:0px;}
            100%{left:0px;}
        }
        
        .slide-images{
            width: 600px;
            height: 200px;
            margin:  0 0 0 -100px;
            position: relative;
            -webkit-animation-name: slide_animation;
            -webkit-animation-duration: 25s;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-play-state: running;
        }
        
        .img-container{
            height: 200px;
            width: 600px;
            position: relative;
            float: left;
        }

        .header__img {
            width: 600px;
        }


        main {
            background-color: #E5E5E5;
            margin-left: 10px;
        
        }
        
        main p {
            color: #161616;
            font-size: 40px;
            display: flex;
            align-items: center;
        }
        
        .estiloLista_promociones{
            border-radius: 20px;
            height: 60px;
            font-size: 45px;
            padding: 5px;
            background-color: #00795B;
            color: white;
        }
        
        section {
            margin: 10px 0px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        } 
        
        
        .item {
            background-color: #00795B;
            border-radius: 20px;
            margin: 10px;
            height: 300px;
            width: 496px;
        
        }
        
        .item__img{
            border-radius: 10px;
            width: 100%;
        }
        
        section h4{
            font-size: 20px;
            color: white;
        }
        
        .container_input{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 10px;
        
        }
        
        .input{
            border: none;
            background-color: white;
            color: #00795B;
            font-size: 15px;
            height: 25px;
            border-radius: 10px;
        
        }
